.divForm {
  display: flex;
  flex-direction: row;
  margin-left: 30%;
  padding-left: 25px;
  margin-top: 39px;
  border: 1px solid #e9ecef;
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
  align-items: baseline;
  margin-left: 30%;
  width: 35vw;
}
.divForm .divUm {
  display: flex;
  flex-direction: column;
}
.divForm .divDois {
  display: flex;
  flex-direction: row;
  margin-bottom: 19px;
}
.divForm .divTres {
  display: flex;
  flex-direction: column;
  margin-right: 36px;
}
.divForm .divQuatro {
  display: flex;
  flex-direction: column;
}
p {
  font-weight: 400;
  font-size: 12px;
  color: #212529;
  align-self: flex-start;
}
.divForm label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #868e96;
  align-self: flex-start;
}
.divUm input {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f8f9fa;
  border: 2px solid #f8f9fa;
  box-sizing: border-box;
  border-radius: 8px;
  height: 52.8px;
  width: 314px;
}

input {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f8f9fa;
  border: 2px solid #f8f9fa;
  box-sizing: border-box;
  border-radius: 8px;
  height: 52.8px;
  width: 128px;
}
select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 11px;
  background: #f8f9fa;
  border: 2px solid #f8f9fa;
  border-radius: 8px;
  width: 128px;
  height: 52.8px;
  color: #868e96;
}
button {
  width: 100%;
  height: 48px;
  background: #fd377e;
  border: 2px solid #fd377e;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  color: white;
  border-radius: 8px;
  margin-bottom: 38px;
}
button:hover {
  background-color: #e34981;
  color: #f8f9fa;
}
@media screen and (max-width: 600px) {
  .divForm {
    width: 190vw;
    flex-direction: column;
  }
  button {
    width: 50%;
  }

  .divForm {
    width: 100vw;
    margin: 0%;
  }
  select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #f8f9fa;
    border: 2px solid #f8f9fa;
    border-radius: 8px;
    width: 99%;
    height: 52.8px;
    color: #868e96;
    margin: 0%;
  }
  input {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #f8f9fa;
    border: 2px solid #f8f9fa;
    box-sizing: border-box;
    border-radius: 8px;
    height: 52.8px;
    width: 80px;
  }
}
