.Dark {
  background-color: #000000;
  height: 100vh;
  padding: 15%;
}
.Light {
  background-color: #fbfbfb;
  height: 100vh;
}
header {
  background-color: #fbfbfb;
  width: 100vw;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
}
header button {
  background-color: #e9ecef;
  border: none;
  border-radius: 8px;
  color: #868e96;
  margin-top: 20px;
  margin-bottom: 20px;
}
header button:hover {
  background-color: #868e96;
  color: white;
}

.App-link {
  color: #61dafb;
}

.divPai {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
}
.FormVt {
  width: 50%;
  margin-right: 59px;
}
.voltarInicio {
  width: 64px;
  height: 40px;
}
.inicio {
  display: flex;
  flex-direction: column-reverse;
}

.botoesFiltro {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  width: 100%;
}
.text-filtro {
  font-size: 100%;
  font-weight: 600;
  white-space: nowrap;
  margin-left: -80px;
  margin-right: 80px;
}
.btFiltroAtivo {
  background-color: #fd377e;
  width: fit-content;
  height: 19px;
  margin: 10px;
}
.btInativo {
  background-color: #868e96;
  border-color: #868e96;
  width: fit-content;
  height: 19px;
  margin: 10px;
}
.divEsq {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 12px;
  align-items: flex-start;
  width: 100%;
}

.divEsq h2 {
  font-style: normal;
  text-align: left;
  font-weight: 800;
  font-size: 38px;
  line-height: 48px;
  color: #ffffff;
}
.divEsq p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 0px;
}

.imgNova img {
  margin-top: -70px;
  margin-left: 20%;
  width: 900px;
}

.inicio {
  background-color: black;
}
@media screen and (max-width: 600px) {
  .Dark {
    background-color: #000000;
  }
  .Light {
    width: 100%;
  }
  .inicio {
    width: 100%;
    height: 100%;
  }
  .imgNova img {
    width: 0px;
    height: 0px;
  }
}
